@font-face {
  font-family: "iconfont"; /* Project id 5174885 */
  src: url('iconfont.woff2?t=1778416437284') format('woff2'),
       url('iconfont.woff?t=1778416437284') format('woff'),
       url('iconfont.ttf?t=1778416437284') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e60d";
}

.icon-edit:before {
  content: "\e627";
}

.icon-unedit:before {
  content: "\e63f";
}

.icon-weibiaoti522:before {
  content: "\e706";
}

.icon-arrow-right:before {
  content: "\eb03";
}

.icon-arrow-up:before {
  content: "\eb04";
}

.icon-arrow-left:before {
  content: "\eb05";
}

.icon-arrow-down:before {
  content: "\eb06";
}

.icon-guanbi2:before {
  content: "\e7ee";
}

.icon-calendar:before {
  content: "\eb5e";
}

.icon-clear:before {
  content: "\e7f5";
}

.icon-meiyoushuju11:before {
  content: "\ea5b";
}

.icon-wrong:before {
  content: "\eae4";
}

.icon-right:before {
  content: "\eae5";
}

.icon-a-243_rili:before {
  content: "\eb61";
}

