/* pages/WaterWave/index.module.css */
.Container {
  display: block;
  background: #fff;
  width: 100%;
  /* 使Canvas适应父容器宽度 */
  height: 100%;
  /* 保持宽高比 */
   /* 绝对定位 底部 */
    position: relative;

}
 .waveone {
  position: relative;
  top: 500px;
  background-color: rgb(240, 236, 236);
  width: 100dvw;
 }
 